.item-wrapper, .brand-wrapper {
  margin: 0 100px;
  h1 {
    font-size: 64px;
    color: #000;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  label {
    display: block;
    margin: 15px 0;
    font-size: 22px;
    input, textarea, select {
      display: block;
      width: 80%;
      height: 30px;
      font-size: 100%;
    }
    textarea {
      height: 100px;
    }
  }
}

.items-wrapper, .brands-wrapper {
  margin: 0 100px;
  h1 {
    font-size: 64px;
    color: #000;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .items-list, .brands-list {
    img {
      width: 100px;
      height: 100px;
    }
    .supprimer {
      cursor: pointer;
    }
  }
}

td, th {
  border: 1px solid #777;
  padding: 0.5rem;
  text-align: center;
}

table {
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background: #eee;
}
caption {
  font-size: 0.8rem;
}