/*Pour utiliser l'extension scss, j'ai installé sass avec la commande : npm i sass*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
  font-family: Inter;
  background-color: #f0f0f0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  min-height: 100%;
  flex-grow: 1;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
  @apply align-middle;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@for $i from 1 through 5 {
  h#{$i} {
    // Use a map to define font sizes for a more concise and maintainable approach
    $sizes: (
      1: text-5xl,
      2: text-4xl,
      3: text-3xl,
      4: text-2xl,
      5: text-xl
    );
      
    // Apply the corresponding Tailwind text size class
    @apply #{map-get($sizes, $i)};
    @apply font-bold;
    font-family: 'DM Sans', sans-serif;
  }
}

.button {
  background-color: #008ED6;
  color: white;
  font-size: 30px;
  font-family: comic;
  border: black 1px solid;
  border-radius: 15px;
  height: 100px;
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  p {
    width: 100%;
  }
}

.error-message {
  color: #ff0000; /* Bright red color for error */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle shadow for better readability */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #008ED6;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #005f99;
}