/*Pour utiliser l'extension scss, j'ai installé sass avec la commande : npm i sass*/

html,
body {
  font-family: Inter;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.chat-container {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order */
  max-height: 800px; /* Optional: Set a maximum height for scrollable content */
  overflow-y: auto; /* Optional: Add vertical scrolling */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.item {

  img {
    max-width: 90%;
    max-width: 90%;
  }

  .item-name {
    margin: 0;
    color: #000;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
  }

  .brand-name {
    margin: 0;
    color: #000;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
  }
}

.price {
  display: flex;

  p {
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #FFF;
    display: flex;
    width: 76px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    margin-right: 20px;
  }

  .old-price {
    color: rgba(0, 0, 0, 0.25);
    text-decoration-line: line-through;
  }

  .regular-price {
    color: #000;
  }
}

.button {
  background-color: #008ED6;
  color: white;
  font-size: 30px;
  font-family: comic;
  border: black 1px solid;
  border-radius: 15px;
  height: 100px;
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  p {
    width: 100%;
  }
}

.error-message {
  color: #ff0000; /* Bright red color for error */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle shadow for better readability */
}