  .main-image {
    position: relative;
    width: calc(100vw - 80px);
    @media (min-width: 1920px) {
    }
    
    img {
      width: 100%;
    }
    
    top:100px;
    h1 {
      @apply text-8xl text-white;
      @apply left-14 top-0 absolute;
      line-height: 100%;
    }
  }

  .items {

    .discount-item-home {
      margin: 10px;
      width: 500x;
      height: 500px;
    }

    .new-item-home {
      margin: 10px;
      width: 400x;
      height: 400px;
    }

    .item {
      cursor: pointer;
      display: block;
      img {
        max-width: 90%;
        max-width: 90%;
      }

      .item-name {
        margin: 0;
        color: #000;
        font-family: DM Serif Display;
        font-size: 48px;
        font-style: italic;
        font-weight: 400;
      }

      .brand-name {
        margin: 0;
        color: #000;
        font-family: DM Sans;
        font-size: 36px;
        font-weight: 700;
      }
    }
  }

.section-title {
  font-size: 64px;
  color: #000;
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand {
  img {
    border-radius: 50%;
  }
}