.wrapper {
  .homeImage {
    position: relative;

    .welcomeMessage {
      position: absolute;
      top: 0;
      left: 0;
      color: #FFF;
      font-family: DM Sans;
      font-size: 96px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      /* 96px */
    }
  }

  .products {

    .discount-product-home {
      margin: 10px;
      width: 500x;
      height: 500px;
    }

    .new-product-home {
      margin: 10px;
      width: 400x;
      height: 400px;
    }

    .product {
      cursor: pointer;
      display: block;
      img {
        max-width: 90%;
        max-width: 90%;
      }

      .product-name {
        margin: 0;
        color: #000;
        font-family: DM Serif Display;
        font-size: 48px;
        font-style: italic;
        font-weight: 400;
      }

      .brand-name {
        margin: 0;
        color: #000;
        font-family: DM Sans;
        font-size: 36px;
        font-weight: 700;
      }
    }
  }
}

.list {
  display: flex;
  justify-content: space-evenly;
  
}

.section-title {
  font-size: 64px;
  color: #000;
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand {
  img {
    border-radius: 50%;
  }
}