  .homeImage {
    position: relative;
    width: 100vw;
    margin: -50px;

    img {
      width: 100%;
      height: 100%;
    }

    .welcomeMessage {
      position: absolute;
      top: 0px;
      left: 50px;
      color: #FFF;
      font-family: DM Sans;
      font-size: 96px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      /* 96px */
    }
  }

  .items {

    .discount-item-home {
      margin: 10px;
      width: 500x;
      height: 500px;
    }

    .new-item-home {
      margin: 10px;
      width: 400x;
      height: 400px;
    }

    .item {
      cursor: pointer;
      display: block;
      img {
        max-width: 90%;
        max-width: 90%;
      }

      .item-name {
        margin: 0;
        color: #000;
        font-family: DM Serif Display;
        font-size: 48px;
        font-style: italic;
        font-weight: 400;
      }

      .brand-name {
        margin: 0;
        color: #000;
        font-family: DM Sans;
        font-size: 36px;
        font-weight: 700;
      }
    }
  }

.section-title {
  font-size: 64px;
  color: #000;
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand {
  img {
    border-radius: 50%;
  }
}