#header {
  width: 1461px;
  height: 76.001px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #logo {
    width: 101px;
    height: 75px;
    flex-shrink: 0;
    background-color: #008ED6;
    position: relative;

    svg {
      margin: 13.8px 30.3px 17.8px 26.3px;
    }

    .text {
      top: 10px;
      left: 25px;
      color: white;
      position: absolute;
      width: 32.32px;
      height: 8.882px;
    }
  }

  .category {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 1;
  }

  .side {
    flex-grow: 7;
    border-left: #000 solid 1px;
  }
}