header {
  height: 76.001px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    flex-grow: 7;
    overflow-x: scroll;
  }

  #logo {
    width: 101px;
    height: 75px;
    flex-shrink: 0;
    background-color: #008ED6;
    position: relative;

    svg {
      margin: 13.8px 30.3px 17.8px 26.3px;
    }

    .text {
      top: 10px;
      left: 25px;
      color: white;
      position: absolute;
      width: 32.32px;
      height: 8.882px;
    }
  }

  .category {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 1;
  }

  .side {
    border-left: #000 solid 1px;
  }
}

footer {
  
  #a-propos {
    img {
      width: 100%;
      height: 300px;
    }

    position: relative;

    .text {
      font-family: DM Sans;
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: 0em;
      text-align: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}