.product-details {
  hr {
    visibility: hidden;
    display: none;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .imageContainer {
      grid-row: 1 / span 3;
      margin: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}